//foundation
@use "foundation/global";
@use "foundation/base";
@use "foundation/reset";

//layouut
@use "layout/footer";
@use "layout/header";
@use "layout/main";
@use "layout/sidebar";
@use "layout/wrapper";

//object

//component
@use "object/component/c-title";
@use "object/component/c-button";
@use "object/component/c-card";
@use "object/component/c-article";
@use "object/component/c-underline";
@use "object/component/c-menu";
@use "object/component/c-pagenation";
@use "object/component/c-menuItem";
@use "object/component/c-image";
@use "object/component/c-liststyle";
@use "object/component/c-table";
@use "object/component/c-topic";
@use "object/component/c-quote";

//project
@use "object/project/p-article";
@use "object/project/p-card";
@use "object/project/p-searchform";
@use "object/project/p-hero";
@use "object/project/p-home";
@use "object/project/p-map";
@use "object/project/p-footer";
@use "object/project/p-pagenation";
@use "object/project/p-pagenationTBPC";
@use "object/project/p-grid";
@use "object/project/p-liststyle";
@use "object/project/p-block";
@use "object/project/p-link";
@use "object/project/p-single";
@use "object/project/p-page";
@use "object/project/p-archive";
@use "object/project/p-page404";
@use "object/project/p-history";
@use "object/project/p-search";
@use "object/project/p-searchform-for-php";
@use "object/project/p-footer-for-php";
@use "object/project/p-front-page";

//utility
@use "object/utility/u-margin";
@use "object/utility/u-width";
@use "object/utility/u-lineheight";
@use "object/utility/u-padding";
@use "object/utility/u-weight";
@use "object/utility/u-gap";
