//SET color
$color-brown: #3c2a10;
$color-darkBrown: #3c2b1c;
$color-footerBrown: #9d8670;
$color-white: #ffffff;
$color-gray: #707070;
$color-middleGray: #f5f5f5;
$color-lightGray: #eaeaea;
$color-lightBeige: #f2ede9;
$color-darkBeige: #ded8d3;
$color-background-beige: #fff7ef;
$color-black: #000000;
