//fontSize
$Lbold: 300; /*light*/
$Mbold: 400; /*Medium*/
$bold: 700; /*Bold*/
$Hbold: 900; /*Heavy*/

//font
$fontMp: "M PLUS 1p", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system,
  BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial,
  helvetica, sans-serif;
$fontMm: "Mplus 1m", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system,
  BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial,
  helvetica, sans-serif;
$fontR: "Roboto", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system,
  BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial,
  helvetica, sans-serif;
