$pc: 1200px;
$tablet: 781px;
$sp: 375px;

@mixin pc {
  @media screen and (min-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: ($tablet)) {
    @content;
  }
}

@mixin sp {
  @media screen and (min-width: ($sp)) {
    @content;
  }
}
