@use "../../foundation/global/index" as g;

.c-article {
  color: g.$color-brown;
  font-size: 1rem;
  &__lineheight {
    line-height: 1.5rem; //24px
    @include g.tab {
      line-height: 1.485rem; //23.76px
    }
  }
  &__text--black {
    color: g.$color-black;
    font-size: 1rem;
    font-weight: g.$bold;
    line-height: 1.485rem; //23.76px
    @include g.pc {
      line-height: 2.0625rem; //33px
    }
  }
  &__text--verticalCenter {
    display: flex;
    align-items: center;
  }
}
