@use "../../foundation/global/index" as g;

.c-liststyle {
  font-weight: g.$Mbold;
  font-size: 1rem;
  list-style: none;
  &__margin {
    margin-left: 11.47%; //43px
    @include g.tab {
      margin-left: 18%; //150px
    }
  }
  &__margin--large {
    margin-left: 16.27%; //61px
    @include g.tab {
      margin-left: 20.14%; //168px
    }
  }
  &__margin--minus {
    margin-left: -1.25rem; //-20px
  }
  &__none {
    list-style: none;
  }
}
