@use "../../foundation/global/index" as g;

.c-menuItem {
  &__link {
    display: block;
    cursor: pointer;
    &:link {
      color: g.$color-gray;
      text-decoration: none;
    }
    &:visited {
      color: g.$color-gray;
      text-decoration: none;
    }
    &:hover {
      color: g.$color-gray;
      text-decoration: underline;
      text-decoration-color: g.$color-gray;
    }
    &:focus {
      color: g.$color-gray;
      text-decoration: none;
    }
    &:active {
      color: g.$color-gray;
      text-decoration: none;
    }
  }
}
