@use "../../foundation/global/index" as g;

.c-topic {
  &__text--small {
    font-weight: g.$bold;
    font-size: 1.25rem; //20px
  }
  &__text {
    font-weight: g.$bold;
    font-size: 1.5rem; //24px
    @include g.tab {
      font-size: 1.75rem; //28px
    }
  }
  &__text--large {
    font-weight: g.$bold;
    font-size: 1.75rem; //28px
    @include g.tab {
      font-size: 2.25rem; //36px
    }
  }
  &__top--h2 {
    margin-top: 2.125rem; //34px
    @include g.tab {
      margin-top: 3.94rem; //60px
    }
    @include g.pc {
      margin-top: 3.94rem; //63px
    }
  }
  &__bottom--h3 {
    margin-bottom: 1.75rem; //28px
    @include g.tab {
      margin-bottom: 3.5rem; //56px
    }
  }
  &__bottom--h4 {
    margin-bottom: 2.125rem; //34px
    @include g.tab {
      margin-bottom: 4.5625rem; //73px
    }
    @include g.pc {
      margin-bottom: 3.5625rem; //57px;
    }
  }
  &__bottom--h5 {
    margin-bottom: 1.6875rem; //27px
    @include g.tab {
      margin-bottom: 3.5625rem; //57px
    }
  }
  &__bottom--h6 {
    margin-bottom: 1.625rem; //26px
    @include g.tab {
      margin-bottom: 3.5rem; //56px
    }
  }
}
