@use "../../foundation/global/index" as g;

.p-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*width: 335px;*/
  margin-left: auto;
  margin-right: auto;
  /*flex-wrap: wrap;*/
  align-items: stretch;
  gap: 1.25rem;
  @include g.pc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0rem;
  }
  @include g.tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 42px 1fr;
    row-gap: 1.56rem;
    width: 89.3%;
    min-height: auto;
    margin: 2rem auto 19px auto;
    align-items: center;
    @include g.tab {
      margin: 4.68% auto 4.9% auto;
    }
  }
  &__cardList {
    @include g.tab {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include g.pc {
      gap: 1.875rem;
    }
  }
}
