@use "../../foundation/global/index" as g;

.p-footer {
  &__text {
    display: block;
    font-family: g.$fontMp;
    font-weight: g.$Mbold;
    color: g.$color-white;
    @include g.sp {
      font-size: 1.125rem; //18px
    }
    @include g.tab {
      font-size: 1.25rem;
    }
  }
  &__text--small {
    display: block;
    font-family: g.$fontMp;
    font-weight: g.$Mbold;
    color: g.$color-white;
    font-size: 0.875rem; //14px
  }
  &__color {
    display: block;
    background-color: g.$color-footerBrown;
    background-size: cover;
    height: 100%; //%に?
  }
  &__image {
    display: block;
    background-image: url(../picture/texture-layer.png);
    background-repeat: repeat-x;
    background-size: cover;
    height: 100%; //%に?
  }
}

/*
.p-footer{
    &__text--large{
        display: none;
        @include g.tab{
        display: block;
        font-family: g.$fontMp;
        font-weight: g.$Mbold;
        justify-content: center;
        color: g.$color-white;
        font-size: 1.25rem;    //20px
        }
        }       */
