@use "../../foundation/global/index" as g;

.p-footer-for-php {
  &__text {
    display: block;
    font-family: g.$fontMp;
    font-weight: g.$Mbold;
    color: g.$color-white;
    @include g.sp {
      font-size: 1.125rem; //18px
    }
    @include g.tab {
      font-size: 1.25rem;
    }
  }
  &__text--small {
    display: block;
    font-family: g.$fontMp;
    font-weight: g.$Mbold;
    color: g.$color-white;
    font-size: 0.875rem; //14px
  }
  &__color {
    display: block;
    background-color: g.$color-footerBrown;
    background-size: cover;
    height: 100%;
  }
  &__image {
    display: block;
    background-image: url(./image/texture-layer.png);
    background-repeat: repeat-x;
    background-size: cover;
    height: 100%;
  }
}

//WordPress CSS
.menu-footer-container {
  list-style: none;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    height: 1.875rem; //30px
    align-items: center;
    > li {
      list-style: none;
      &:not(:last-child) .p-link__footer::after {
        content: "|";
        padding: 0 0.41rem;
        display: inline-block;
      }
    }
  }
}
