@use "../../foundation/global/index" as g;

.p-hero {
  display: flex;
  align-items: center;
  background-image: url(../picture/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 375/285;
  @include g.tab {
    aspect-ratio: 834/285;
  }
  @include g.pc {
    aspect-ratio: 1553 /530;
  }
  &__blackScreen {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 20;
  }
  &__imageArea {
    position: relative;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    height: auto;
    aspect-ratio: 375 / 285;
    @include g.tab {
      aspect-ratio: 834 / 285;
    }
    @include g.pc {
      aspect-ratio: 1553 / 239;
    }
  }
  &__title--area {
    display: flex;
    flex-direction: column;
    padding-left: 6.7%;
    font-size: 9.6vw;
    color: g.$color-white;
    @include g.tab {
      font-size: 4.32vw;
      padding-left: 10.3%;
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
    @include g.pc {
      font-size: 2.08vw;
      padding-left: 5.6%;
    }
  }
  &__title--menu {
    line-height: 2.637rem; //42.19px
    font: g.$bold 2.25rem g.$fontR;
    margin-bottom: 12px;
    @include g.tab {
      font-size: 3.75rem;
      margin: 0%;
    }
  }
  &__title--menucontent {
    font-size: 1rem;
    line-height: 1.485rem; //23.76px
    @include g.tab {
      padding: 0 0 0 2.2%;
    }
    @include g.pc {
      font-size: 0.83vw;
      padding: 12px 0 0 2.2%;
    }
  }
  &__singleArea {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__thumbnail {
    width: 100%;
    object-fit: cover; /* 画像を歪ませずに枠いっぱいに表示 */
    aspect-ratio: 375/225;
    min-height: auto;
    @include g.tab {
      aspect-ratio: 834/505;
    }
    @include g.pc {
      aspect-ratio: 1553/500;
    }
  }
}
