@use "../../foundation/global/index" as g;

.p-link {
  &__bottom {
    cursor: pointer;
    &:link {
      color: g.$color-brown;
      text-decoration: none;
    }
    &:visited {
      color: g.$color-brown;
      text-decoration: none;
    }
    &:hover {
      color: g.$color-brown;
      text-decoration: underline;
      text-decoration-color: g.$color-brown;
    }
    &:focus {
      color: g.$color-brown;
      text-decoration: none;
    }
    &:active {
      color: g.$color-brown;
      text-decoration: none;
    }
  }
  &__bottomArea {
    margin-top: 1.94rem; //31px
    margin-bottom: 4.31rem; //69px
    @include g.tab {
      margin-top: 3.81rem; //61px
      margin-bottom: 9.31rem; //149px
    }
    @include g.pc {
      margin-bottom: 17.125rem; //274px
    }
  }
  &__footer {
    cursor: pointer;
    &:link {
      color: g.$color-white;
      text-decoration: none;
    }
    &:visited {
      color: g.$color-white;
      text-decoration: none;
    }
    &:hover {
      color: g.$color-white;
      text-decoration: underline;
      text-decoration-color: g.$color-white;
    }
    &:focus {
      color: g.$color-white;
      text-decoration: none;
    }
    &:active {
      color: g.$color-white;
      text-decoration: none;
    }
  }
}
