@use "../../foundation/global/index" as g;

.p-map {
  display: flex;
  width: 100vw;
  @include g.tab {
    height: auto;
  }
  @include g.pc {
    width: 100%;
  }
  &__image {
    background-image: url(../picture/map-image.webp);
    background-size: cover;
    height: auto;
  }
  &__color {
    background-color: rgba($color: #000000, $alpha: 0.2855);
    height: 100%;
  }
  &__color--small {
    background-color: rgba($color: #000000, $alpha: 0.2855);
    height: 60%;
    @include g.tab {
      height: 100%;
    }
    @include g.pc {
      width: 61.1%;
    }
  }
  &__textarea {
    padding: 11.2% 10.7% 15.2%;
    @include g.tab {
      padding: 5.03% 3.48% 4.8% 5.04%;
    }
    @include g.pc {
      padding: 9.05% 14.1% 7.895% 12.53%;
    }
  }
  &__title {
    display: inline-block;
    font-size: 1.88rem; //30px
    color: g.$color-white;
    line-height: 2.7843rem;
    @include g.pc {
      font-size: 2.25rem; //36px
      line-height: 3.34125rem; //53.46px
    }
  }
  &__article {
    display: block;
    color: g.$color-white;
    font-size: 0.875rem; //14px
    line-height: 2.0625rem; //33px
    margin-top: 0.9375rem;
    @include g.pc {
      font-size: 1rem; //16px
      line-height: 2.0625rem; //33px
    }
  }
}
