@use "../../foundation/global/index" as g;

.p-pagenation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6.25rem auto 1.875rem auto;
  width: 89.2%;
  @include g.tab {
    display: none;
  }
  &__prev {
    display: flex;
    font-size: 1rem;
    font-weight: g.$Mbold;
    color: g.$color-gray;
  }
  &__next {
    display: flex;
    font-size: 1rem;
    font-weight: g.$Mbold;
    color: g.$color-gray;
  }
  &__icon--area {
    display: flex;
    align-items: center;
    width: 1.095rem; //17.53px
    height: 1.067rem //17.07px
;
  }
  &__icon--prev {
    display: block;
    width: 0.7545rem;
    height: 0.7545rem;
    border-bottom: solid 0.0625rem g.$color-gray;
    border-left: solid 0.0625rem g.$color-gray;
    transform: rotate(45deg);
    position: relative;
  }
  &__icon--next {
    display: block;
    width: 0.7545rem;
    height: 0.7545rem;
    border-bottom: solid 0.0625rem g.$color-gray;
    border-left: solid 0.0625rem g.$color-gray;
    transform: rotate(-135deg);
    position: relative;
  }
  &__icon--prev::before,
  &__icon--next::before {
    content: "";
    position: absolute;
    top: -0.4375rem; //-7px
    right: -0.4375rem;
    width: 0.7545rem; //12.072px
    height: 0.7545rem;
    border-bottom: solid 0.0625rem g.$color-gray;
    border-left: solid 0.0625rem g.$color-gray;
  }
  &__text--prev {
    display: flex;
    margin-left: 0.511rem; //8.18px
    @include g.tab {
      display: none;
    }
  }
  &__text--next {
    display: flex;
    margin-right: 0.511rem; //8.18px
    @include g.tab {
      display: none;
    }
  }
  &__text--list {
    display: none;
    @include g.tab {
      display: flex;
    }
  }
}

/*&icon--next{
        display: block;
        width: 0.7545rem;
        height: 0.7545rem;
        border-top: solid 0.0625rem g.$color-gray;
        border-left: solid 0.0625rem  g.$color-gray;
        transform: rotate(-135deg);
        position: relative;
    }*/
