@use "../../foundation/global/index" as g;

.search-results {
  .l-wrapper {
    display: grid;
    position: relative;
    overflow: hidden; //overfrow-xだけでは右や左に隠したぶんは隠れるけど、その部分から影響する下へのスクロールが隠れないのでoverflowにする
    min-height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: 13.4375rem 1fr 9.375rem;
    @include g.tab {
      grid-template-rows: 13.5625rem 1fr 9.375rem;
    }
    @include g.pc {
      display: grid;
      grid-template-columns: 80% 20%;
      min-height: 100dvh;
    }
    &.fix {
      overflow: hidden;
    }
  }

  .attachment-post-thumbnail {
    object-fit: cover;
    height: 100%;
    aspect-ratio: 336.11/230.53;
    width: 100%;
    @include g.tab {
      display: block;
      object-fit: cover;
      aspect-ratio: 378.28/354.5;
      width: 100%;
    }
    @include g.pc {
      display: block;
      object-fit: cover;
      aspect-ratio: 677/471;
      width: 100%;
    }
  }

  .p-article__area {
    color: g.$color-brown;
    font-size: 1rem;
    font-weight: g.$Mbold;
    line-height: 1.5rem; //24px
    @include g.tab {
      line-height: 1.485rem; //23.76px
    }
    h2 {
      display: block;
      font-size: 1.75rem; //28px
      font-weight: g.$bold;
      line-height: 41.58px;
      color: g.$color-brown;
      font-family: g.$fontMm;
      @include g.tab {
        font-size: 2.25rem; //36px
        line-height: 3.34rem; //53.46px
      }
    }
  }

  .p-article {
    margin-bottom: 1.25rem;
    &__cardList {
      @include g.tab {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @include g.pc {
        margin-bottom: 1.875rem;
      }
    }
  }

  .c-button__text {
    display: block;
    cursor: pointer;
    &:link {
      color: g.$color-gray;
      text-decoration: none;
    }
    &:visited {
      color: g.$color-gray;
      text-decoration: none;
    }
    &:hover {
      color: g.$color-gray;
      text-decoration: underline;
      text-decoration-color: g.$color-gray;
    }
    &:focus {
      color: g.$color-gray;
      text-decoration: none;
    }
    &:active {
      color: g.$color-gray;
      text-decoration: none;
    }
  }

  .no-post {
    display: flex;
    background-color: g.$color-brown;
    color: g.$color-white;
    font-size: 1.2rem;
    letter-spacing: 0.13rem;
    font-weight: g.$Mbold;
    height: 8rem;
    align-items: center;
    justify-content: center;
  }

  .wp-pagenavi {
    display: none;
    @include g.tab {
      display: flex;
      color: g.$color-gray;
      font: g.$bold 1rem/2.0625rem g.$fontR; //1rem/33px
      align-items: center;
      justify-content: center;
      margin: 0 1.2057rem;
      gap: 1.2057rem;
    }
    .pages {
      position: relative;
      font-weight: g.$bold;
      padding-right: 1.0738rem;
      &::before {
        content: "Page";
        position: absolute;
        font-weight: 700;
        left: -2.55rem;
      }
    }
    .page {
      border: 0.0625rem solid; //1px
      width: 2.1875rem; //35px
      height: 2.1875rem;
      text-align: center;
      display: block;
      cursor: pointer;
      &:link {
        color: g.$color-gray;
        text-decoration: none;
      }
      &:visited {
        color: g.$color-gray;
        text-decoration: none;
      }
      &:hover {
        color: g.$color-gray;
        text-decoration: underline;
        text-decoration-color: g.$color-gray;
      }
      &:focus {
        color: g.$color-gray;
        text-decoration: none;
      }
      &:active {
        color: g.$color-gray;
        text-decoration: none;
      }
    }
  }

  .current {
    border: 0.0625rem solid; //1px
    width: 2.1875rem; //35px
    height: 2.1875rem;
    text-align: center;
    color: g.$color-white;
    background-color: g.$color-brown;
  }
}

//検索結果なしの場合の表示
.search-no-results {
  .l-wrapper {
    display: grid;
    position: relative;
    overflow: hidden; //overfrow-xだけでは右や左に隠したぶんは隠れるけど、その部分から影響する下へのスクロールが隠れないのでoverflowにする
    min-height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: 13.4375rem 1fr 9.375rem;
    @include g.tab {
      grid-template-rows: 13.5625rem 1fr 9.375rem;
    }
    @include g.pc {
      display: grid;
      grid-template-columns: 80% 20%;
      min-height: 100dvh;
    }
    &.fix {
      overflow: hidden;
    }
  }

  .p-article__area {
    color: g.$color-brown;
    font-size: 1rem;
    font-weight: g.$Mbold;
    line-height: 1.5rem; //24px
    @include g.tab {
      line-height: 1.485rem; //23.76px
    }
    h2 {
      display: block;
      font-size: 1.75rem; //28px
      font-weight: g.$bold;
      line-height: 41.58px;
      color: g.$color-brown;
      font-family: g.$fontMm;
      @include g.tab {
        font-size: 2.25rem; //36px
        line-height: 3.34rem; //53.46px
      }
    }
  }

  .p-card__textarea {
    background-color: g.$color-middleGray;
    color: g.$color-brown;
    display: flex;
    flex-direction: column;
    min-height: 2rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto 2rem auto;
    @include g.tab {
      flex-direction: row;
      justify-content: center;
    }
  }

  .p-pagenation {
    display: none;
  }

  .p-pagenationTBPC {
    display: none;
  }
}
