@use "../../foundation/global/index" as g;

.p-searchform-for-php {
  display: flex;
  margin: 1.75rem 0 2.81rem 0;
  justify-content: center;
  height: 2.875rem; //46px
  width: 84.8%;
  justify-content: space-between;
  @include g.tab {
    width: 65.5%; //546px
  }
  @include g.pc {
    margin: 0;
    position: absolute;
    right: 1.987rem; //31.79px
    width: 35%;
  }
  /*虫眼鏡アイコン設置のため、inputと同じサイズの親要素のボックス用意。*/
  &__box {
    display: flex;
    position: relative;
    border-radius: 0.625rem 0.5rem 0.625rem 0.625rem;
    width: 67.9%; //216px
    height: 2.875rem; //46px
    @include g.tab {
      width: 72.5%; //396px
      border-radius: 0.625rem //10px
;
    }
    @include g.pc {
      width: 73%;
    }
  }
  &__box::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: url(./image/mushimegane.png) no-repeat center center / auto 100%;
    display: inline-block;
    position: absolute;
    top: 0.6875rem; //11px
    left: 0.875rem; //14px
  }
  /*むしろ、width:100%;で親要素と同じサイズのinput用意*/
  &__input {
    border-radius: 0.625rem 0.5rem 0.625rem 0.625rem;
    width: 100%;
    padding-left: 3rem;
    border: solid 0.0625rem g.$color-gray;
    color: g.$color-gray;
    font-family: g.$fontMp;
    line-height: 1.485rem;
    font-weight: g.$bold;
    font-size: 1rem;
    @include g.tab {
      border-radius: 0.625rem;
    }
    @include g.pc {
      line-height: 2.0625rem; //33px
      font-family: g.$fontMm;
      color: g.$color-gray;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    border-radius: 0.625rem;
    width: 28.3%;
    border: solid 0.0625rem g.$color-gray;
    cursor: pointer;
    color: g.$color-gray;
    background: linear-gradient(g.$color-lightBeige, g.$color-darkBeige);
    @include g.tab {
      width: 24.9%;
    }
  }
  &__text {
    position: absolute;
    left: 3rem;
    top: 0.7rem;
    @include g.pc {
      left: 3rem;
      top: 0.4rem;
    }
  }
}
