@use "../foundation/global/index" as g;

.l-footer {
  height: 9.375rem;
  width: 100%;
  position: relative;
  z-index: 2;
  @include g.pc {
    width: 100%;
    position: unset;
    grid-row: 3/4;
    grid-column: 1/3;
  }
  &__inner {
    display: block;
    height: 100%;
  }
  &__textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__text {
    position: absolute;
    top: 10.67%;
    @include g.tab {
      position: absolute;
      top: 20%; //30px
    }
    @include g.pc {
      position: absolute;
      top: 27.33%; //41px
    }
  }
  &__text--small {
    position: absolute;
    bottom: 10.67%;
    @include g.tab {
      position: absolute;
      bottom: 16.67%;
    }
    @include g.pc {
      position: absolute;
      bottom: 18%; //27px
    }
  }
}
