@use "../foundation/global/index" as g;

.l-sidebar {
  grid-row: 1/3;
  grid-column: 2/3;
  &__background {
    display: block;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba($color: #000000, $alpha: 0.502);
    z-index: -1;
    transition: all 0.3s ease-out 1ms;
    @include g.pc {
      z-index: -100;
      right: 0%;
      background-color: unset;
    }
    &.appear {
      opacity: 1;
      z-index: 900;
    }
  }
  &__nav {
    display: block;
    position: absolute;
    width: 20.5rem; //87.5%
    right: -100%;
    top: 0%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 999;
    transition: all 0.3s linear 0ms;
    @include g.tab {
      width: 22.94rem; //44%
    }
    @include g.pc {
      display: block;
      width: 100%;
      height: 100%; //footerに被せない
      background-color: #f5f5f5;
      position: unset; //footerに揃えるため修正
      //right: 0%;
      //top: 0%;
      transform: unset;
      //z-index: 1;
    }
    &.open {
      right: 0%;
      transition: all 0.3s linear 500ms;
      overflow: auto;
      max-height: 100vh;
    }
  }
  &__title {
    /* display: none;*/
    display: block;
    font: g.$bold 2.125rem g.$fontR; //34px
    color: g.$color-gray;
    padding: 5.5rem 0 5.625rem 12.5%;
    @include g.pc {
      padding: 5.25rem 0 5.625rem 12.5%;
    }
  }
  &__title--small {
    display: block;
    font: g.$bold 1.5rem g.$fontMp; //24px
    color: g.$color-gray;
    padding: 0 0 0 12.5%;
  }
  &__menu {
    display: block;
    font: g.$Mbold 1.25rem g.$fontMp; //20px
    color: g.$color-gray;
  }
  &__menu__list {
    //width: 11.25rem;
    display: block;
    font: g.$Mbold 1.25rem g.$fontMp; //20px
    color: g.$color-gray;
    padding: 0.75rem 0 3rem 17.3%;
  }
  &__menu__item {
    line-height: 1.85625rem; //29.7px
    margin-top: 1.25rem; //20px
  }
  .l-sidebar__menu__list > li {
    line-height: 1.85625rem; //29.7px
    margin-top: 1.25rem; //20px
  }
}
