@use "../foundation/global/index" as g;

.l-wrapper {
  display: block;
  flex-direction: column;
  justify-content: center;
  width: auto;
  box-sizing: border-box; //box-sizing:inherit は、親要素のbox-sizingを継承する
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  @include g.pc {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 13.5625rem 1fr 9.375rem;
    min-height: 100vh;
  }
  &.fix {
    overflow: hidden;
    max-height: 100vh;
  }
}
